
h3 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

#glowny-naglowek {
    color: white;
}

.lista {
    max-width: 300px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #005293;
    margin-top: 1rem;
}

li.lista-itemow {
    transition: background-color 0.5s ease;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #005999;

}

    li.lista-itemow:hover {
        background-color: #e6f0ff;
    }

a {
    text-decoration: none;
    color: #333;
    display: block;
    color: white;
    transition: background-color 0.5s ease;
    padding:0.5rem;
}
    
    a:hover {
        color: #007bff;
    }


.glowny {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #005293;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom:2rem;
    color: white;
}

li.lista-itemow:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li.lista-itemow:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 140px;
    overflow-y: auto;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    color:black;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

    .suggestion-item:hover {
        background-color: #f0f0f0;
    }



