@page "/brak-dostepu"
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h1 id="tytulDostepu">Brak dostępu</h1>
<p id="infoDostep">Nie masz uprawnień do edycji tego sylabusa.</p>

<button class="btn-wstecz" @onclick="GoBack">🡐 Powrót</button>

@code {
    private async Task GoBack()
    {
        var backUrl = await JS.InvokeAsync<string>("localStorage.getItem", "previousUrl");
        if (!string.IsNullOrEmpty(backUrl))
        {
            Navigation.NavigateTo(backUrl, true);
        }
        else
        {
            Navigation.NavigateTo("/", true);
        }
    }
}