@page "/kierunki"
@inject NavigationManager Navigation

<PageTitle>Kierunki</PageTitle>

<div class="glowny">
    <h3 id="glowny-naglowek">Wybierz kierunek:</h3>

    <ul class="lista">
        @foreach (var kierunek in KierunkiList)
        {
            <li class="lista-itemow">
                <a href="#" @onclick="() => NavigateToPrzedmioty(kierunek)" @onclick:preventDefault>@kierunek</a>
            </li>

            @*<li class="list-group-item">
                <a href="" @onclick="() => NavigateToPrzedmioty(kierunek)">@kierunek</a>
            </li>*@
        }
    </ul>

    @code {
        // Lista kierunków hardkodowana
        public readonly List<string> KierunkiList = new()
        {
            "Informatyka",
            "Administracja",
            "Bezpieczeństwo narodowe",
            "Dziennikarstwo i komunikacja społeczna",
            "Filologia",
            "Finanse i rachunkowość",
            "Grafika",
            "Kosmetologia",
            "Logistyka",
            "Organizacja produkcji filmowej i telewizyjnej",
            "Pedagogika",
            "Stosunki międzynarodowe",
            "Turystyka i rekreacja",
            "Zarządzanie",
            "Rachunkowość i zarządzanie finansami",
            "Fizjoterapia",
            "Kierunek lekarski",
            "Pedagogika przedszkolna i wczesnoszkolna ",
            "Prawo",
            "Psychologia",

        };

    

        private void NavigateToPrzedmioty(string kierunek)
        {
            // Przekierowanie do strony z przedmiotami dla wybranego kierunku
            Navigation.NavigateTo($"/przedmioty/{Uri.EscapeDataString(kierunek)}");
        }
    }
</div>