@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="sidebar bg-light">
    <nav class="nav flex-column p-2">
        <a class="nav-link" href="/kierunki">Kierunki</a>
        <a class="nav-link" href="/login">Zaloguj</a>
        <a class="nav-link" href="/register">Zarejestruj</a>
    </nav>
</div>

<div class="main p-3">
    @Body
</div>